<!-- navbar start -->
<nav class="navbar navbar-light fixed-top bg-light shadow-sm">
  <div class="container-lg">
    <a class="navbar-brand text-danger fw-bold fs-4" href="#home">A.V.M</a>
    <div class="dropdown">
      <button class="btn btn-danger px-1" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        <i class='bx bx-menu bx-sm'></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#home">Home</a></li>
        <li><a class="dropdown-item" href="#about">About</a></li>
        <li><a class="dropdown-item" href="#services">Services</a></li>
        <li><a class="dropdown-item" href="#portfolio">Portfolio</a></li>
        <li><a class="dropdown-item" href="#testimonials">Testimonials</a></li>
        <li><a class="dropdown-item" href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- navbar end --> 
<!-- home section start -->
<section class="home py-5" id="home">
  <div class="container-lg py-4">
    <div class="row bg-light min-vh-100 align-items-center align-content-center">
      <div class="col-md-6 mt-5 mt-md-0">
        <div class="home-img">
          <img src="../assets/images/people/PngItem_5152543.png" alt="profile-img" 
          class="w-100 rounded-circle">
        </div> 
      </div>
      <div class="col-md-6 mt-5 mt-md-0 order-md-first">
        <p class="text-muted">Hello I'm</p>
        <h2 class="text-danger text-uppercase fs-1 fw-b">Web Developer</h2>
        <h1 class="fs-4 text-dark mb-3">Marvin Otieno</h1>
        <p class="text-muted mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
           quibusdam quas expedita? Quia temporibus quos sit consectetur odio harum
            pariatur?</p>
        <a href="#services" class="btn btn-danger px-2 mt-2">My Works</a>
      </div>
    </div>
  </div>
</section>
<!-- home section end -->
<!-- About section start -->
<section class="about py-5" id="about">
  <div class="container-lg py-4 bg-light min-vh-100 align-items-center">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-8">
        <div class="section-title">
          <h2 class="text-center fw-bold pb-2">About Me</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="about-text">
            <h2 class="fw-bold fs-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni, iste.</h2>
            <p class="text-muted mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Ipsam eligendi facilis pariatur velit minus ut nobis sint fugiat ipsa hic.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Quam vitae temporibus maxime magnam rerum veniam nemo repudiandae eos fugit et.</p>
        </div>
        <div class="row text-center text-uppercase my-3 align-items-center
        justify-content-center align-content-center">
          <div class="col-sm-4">
            <div class="fact-item">
              <h3 class="fw-bold fs-1">18</h3>
              <p class="text-muted">PROJECTS COMPLETED</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="fact-item">
              <h3 class="fw-bold fs-1">13</h3>
              <p class="text-muted">HAPPY CLIENTS</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="fact-item">
              <h3 class="fw-bold fs-1">24</h3>
              <p class="text-muted">POSITIVE REVIEWS</p>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-lg-12 d-flex align-items-center">
            <a href="#" class="btn btn-danger px-3">Download CV</a>
            <div class="social-links">
              <i class='bx bxl-facebook bx-sm text-dark me-2'></i>
              <i class='bx bxl-twitter bx-sm text-dark me-2'></i>
              <i class='bx bxl-instagram bx-sm text-dark me-2'></i>
              <i class='bx bxl-linkedin bx-sm text-dark me-2'></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-5 mt-md-0">
        <div class="skill-item mb-4">
          <h3 class="fs-6">HTML & CSS</h3>
          <div class="progress" style="height: 5px;">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="skill-item mb-4">
          <h3 class="fs-6">JavaScript</h3>
          <div class="progress" style="height: 5px;">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="skill-item mb-4">
          <h3 class="fs-6">Python</h3>
          <div class="progress" style="height: 5px;">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="skill-item mb-4">
          <h3 class="fs-6">Angular</h3>
          <div class="progress" style="height: 5px;">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="skill-item mb-4">
          <h3 class="fs-6">Django</h3>
          <div class="progress" style="height: 5px;">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- about section end -->

<!-- services section start -->
<section class="services py-5" id="services">
  <div class="container-lg py-4 min-vh-100">
    <div class="row justify-content-center align-content-center align-items-center">
      <div class="col-lg-8">
        <div class="section-title text-center">
          <h2 class="fw-bold mb-5">What I Do</h2>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="service-item shadow-lg bg-white p-4 rounded">
          <div class="icon my-3">
            <i class='bx bx-code-alt bx-sm fw-bold text-danger fs-2'></i>
          </div>
          <h3 class="fs-5 py-2">Web Development</h3>
          <p class="text-muted">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="service-item shadow-lg bg-white p-4 rounded">
          <div class="icon my-3">
            <i class='bx bxs-bulb bx-sm fw-bold text-danger fs-2'></i>
          </div>
          <h3 class="fs-5 py-2">Creative Design</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="service-item shadow-lg bg-white p-4 rounded">
          <div class="icon my-3">
            <i class='bx bxs-package bx-sm fw-bold text-danger fs-2'></i>
          </div>
          <h3 class="fs-5 py-2">Continous Delivery</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="service-item shadow-lg bg-white p-4 rounded">
          <div class="icon my-3">
            <i class='bx bxs-package bx-sm fw-bold text-danger fs-2'></i>
          </div>
          <h3 class="fs-5 py-2">Agile Development</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- services section end -->
<!-- portfolio section start -->
<section class="portfolio py-5 min-vh-100" id="portfolio">
  <div class="container-lg py-4">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="section-title">
          <h2 class="fw-bold fs-2">Latest Projects</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-4 shadow-lg mb-4 p-2">
        <div class="portfolio-item">
          <img src="../assets/images/pexels-thisisengineering-3861969.jpg"
           class="w-100 h-100" alt="Portfolio thumbnails">
           <h3 class="text-capitalize fs-6 fw-bold my-2">Nyalik Educators</h3>
           <p class="fs-6"><a href="#" class="text-decoration-none text-danger">Live Demo</a>  </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 shadow-lg mb-4 p-2">
        <div class="portfolio-item">
          <img src="../assets/images/pexels-thisisengineering-3861972.jpg"
           class="w-100 h-100" alt="Portfolio thumbnails">
           <h3 class="text-capitalize fs-6 fw-bold my-2">Team Section</h3>
           <p class="fs-6"><a href="#" class="text-decoration-none text-danger">Live Demo</a>  </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 shadow-lg mb-4 p-2">
        <div class="portfolio-item">
          <img src="../assets/images/pexels-pixabay-356056.jpg"
           class="w-100 h-100" alt="Portfolio thumbnails">
           <h3 class="text-capitalize fs-6 fw-bold my-2">Afro Craft Ltd</h3>
           <p class="fs-6"><a href="#" class="text-decoration-none text-danger">Live Demo</a>  </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 shadow-lg mb-4 p-2">
        <div class="portfolio-item">
          <img src="../assets/images/pexels-sebastiaan-stam-1482476.jpg"
           class="w-100 h-100" alt="Portfolio thumbnails">
           <h3 class="text-capitalize fs-6 fw-bold my-2">Respelling the Alphabets</h3>
           <p class="fs-6"><a href="#" class="text-decoration-none text-danger">Live Demo</a>  </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- portfolio section end -->

<!-- freelance section start -->
<section class="freelance py-5" id="freelance">
  <div class="container-lg py-4">
    <div class="row justify-content-center bg-danger text-center text-white align-items-center align-content-center">
       <div class="col-lg-8">
         <p class="m-4 py-2">Do you have any project ?</p>
         <h2 class="fw-bold fs-2 mb-2 text-capitalize">I'm available for freelance projects!</h2>
         <button href="#" class="btn btn-danger btn-outline-light px-3 py-1 my-3">Hire Me</button>
        </div>
    </div>
  </div>
</section>
<!-- freelance section end -->
<!-- Testimonials section start -->
<section class="testimonials py-5" id="testimonials">
  <div class="container-lg py-4 min-vh-100">
    <div class="row justify-content-center ">
      <div class="col-lg-8">
        <div class="section-title text-center">
          <h2 class="fw-bold mb-5">Testimonials</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center py-4 mt-5">
      <div class="col-lg-8 col-xl-7">
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
        <!-- testi item start -->
          <div class="testimonial-item carousel-item active shadow-sm">
              <div class="author-info d-flex vh-20 align-items-center">
                <img src="../assets/images/people/test1.jpg"
                height="50vh" class="img-responsive rounded-circle me-4" alt="author">
                <div class="author">
                  <h3 class="fs-6 mb-1">Leleti Narina</h3>
                  <p class="fs-6 text-muted">SEO Manager</p>
                </div>
              </div>
              <p class="text-muted text-small">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi, dolorum necessitatibus.
                Explicabo amet nobis consectetur suscipit, atque commodi excepturi debitis!
              </p>
              <div class="rating d-flex text-danger py-4">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
              </div>
          </div>
          <!-- testi item end -->

            <!-- testi item start -->
            <div class="testimonial-item carousel-item shadow-sm">
              <div class="author-info d-flex vh-20 align-items-center">
                <img src="../assets/images/people/test2.jpg"
                height="50vh" class="img-responsive rounded-circle me-4" alt="author">
                <div class="author">
                  <h3 class="fs-6 mb-1">Jamal Hussein</h3>
                  <p class="fs-6 text-muted">CEO Afro-Craft Theatres</p>
                </div>
              </div>
              <p class="text-muted text-small">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi, dolorum necessitatibus.
                Explicabo amet nobis consectetur suscipit, atque commodi excepturi debitis!
              </p>
              <div class="rating d-flex text-danger py-4">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
              </div>
          </div>
          <!-- testi item end -->

            <!-- testi item start -->
            <div class="testimonial-item carousel-item shadow-sm">
              <div class="author-info d-flex vh-20 align-items-center">
                <img src="../assets/images/people/test3.jpg"
                height="50vh" class="img-responsive rounded-circle me-4" alt="author">
                <div class="author">
                  <h3 class="fs-6 mb-1">John Doe</h3>
                  <p class="fs-6 text-muted">Project Manager</p>
                </div>
              </div>
              <p class="text-muted text-small">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi, dolorum necessitatibus.
                Explicabo amet nobis consectetur suscipit, atque commodi excepturi debitis!
              </p>
              <div class="rating d-flex text-danger py-4">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
              </div>
          </div>
          <!-- testi item end -->
        </div>
      </div>
      </div>
    </div> 
  </div>
</section>
<!-- testimonials section end -->

<!-- contacts section start -->
<section class="contact py-5" id="contact">
  <div class="container-lg py-4 min-vh-100">
    <div class="row justify-content-center">
      <div class="section-title text-center">
        <h2 class="fw-bold fs-2 mb-5">Contact Me</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="contact-item d-flex align-content-center mb-2">
           <div class="icon fs-3 text-danger">
             <i class='bx bxs-envelope'></i>
           </div>
           <div class="contact-text ms-3">
            <h3 class="fw-bold fs-4">Email</h3>
            <p class="text-muted fs-6">example@example.com</p>
           </div>
        </div>
        <div class="contact-item d-flex align-content-center mb-2">
          <div class="icon fs-3 text-danger">
            <i class='bx bxs-phone'></i>
          </div>
          <div class="contact-text ms-3">
           <h3 class="fw-bold fs-4">Phone</h3>
           <p class="text-muted fs-6">+254 743 904 791</p>
          </div>
       </div>
       <div class="contact-item d-flex align-content-center mb-2">
        <div class="icon fs-3 text-danger">
          <i class='bx bx-location-plus'></i>
        </div>
        <div class="contact-text ms-3">
         <h3 class="fw-bold fs-4">Visit Office</h3>
         <p class="text-muted fs-6">248 Kisumu - 40100, Odinga street</p>
        </div>
     </div>
      </div>
      <div class="col-md-7">
        <div class="contact-form">
          <form action="#">
              <div class="row">
                  <div class="col-lg-6 mb-4 mb-md-0">
                    <input type="text" placeholder="Your Name" class="fs-6 form-control  shadow-sm border-0 form-control-lg">
                  </div>
                  <div class="col-lg-6">
                    <input type="text" placeholder="Your Email" class="fs-6 form-control shadow-sm border-0 form-control-lg">
                  </div>
              </div>
              <div class="row mt-4">
                <div class="col-lg-12">
                  <input type="text" placeholder="Subject" class="fs-6 form-control shadow-sm border-0 form-control-lg">
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-lg-12">
                  <textarea name="message" placeholder="Your Message" id="msg" rows="5" class="form-control shadow-sm"></textarea>
                </div>
              </div> 
              <div class="row justify-content-start mt-4 mr-0">
                <div class="col-lg-4">
                  <button class="btn btn-danger px-2">Send Message</button>
                </div>
    
              </div> 
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- contacts section end -->
<footer class="footer  border-top py-3">
  <div class="container-lg">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <p class="text-muted"> &copy; 2022. All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>


